<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My First Apllication</title>
</head>

<body>
    <h1>
        <center>Filters</center>
    </h1>
    <ul>
        <li> <b>Lower filter: </b> {{value | lower}} <br> </li>
        <li> <b>Length filter: </b> {{value | length}} <br> </li>
        <li> <b>make_list filter: </b> {{value | make_list}} <br> </li>
        <li> <b>Title filter: </b> {{value | title}} <br> </li>
        <li> <b>Cut filter: </b> {{value | cut:" "}} <br> </li>
    </ul>
</body>

</html>