<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rate This Property!</title>
    <meta name="description" content="Web app that enables to rate the condition and attributes of a property.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet
	       " href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body, h1, h2, h3, h4, h5 {font-family: "Poppins", sans-serif}
	body {font-size: 16px}
	.w3-half img {
            margin-bottom: -6px;
	    margin-top: 16px;
	    opacity: 0.8;
	    cursor: pointer;
	}
	.flip-box {
            background-color: transparent;
	    width: 300px;
	    height: 200px;
	    border: 1px solid #f1f1f1;
	    perspective: 1000px;
	}
	.flip-box-inner {
            position: relative;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    transition: transform 0.8s;
	    transform-style: preserve-3d;
	}
	.flip-box:hover .flip-box-inner {
            transform: rotateY(180deg);
	}
	.flip-box-front, .flip-box-back {
            position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	}
	.flip-box-front {
            background-color: #bbb;
	    color: black;
	}
	.flip-box-back {
            background-color: red;
	    color: white;
	    transform: rotateY(180deg);
	}
	.blur-pic {
            filter: blur(2px);
	    -webkit-filter: blur(2px);
	}
    </style>
</head>
<body>
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick"w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
	<div class="w3-container">
	    <h3 class="w3-padding-64"><b>Rate My<br></b>Property!</h3>
	</div>
	<div class="w3-bar-block">
	    <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
	    <a href="#description" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Description</a>
	    <a href="#factors" onclick="w3_close()" class="w3-bar-item w3-hover-white">Factors</a>
	    <a href="#instructions" onclick="w3_close()" class="w3-bar-item w3-hover-white">Instructions</a>
	    <a href="#writeReview" onclick="w3_close()" class="w3-bar-item w3-hover-white">Write Review</a>
	    <a href="#viewReviews" onclick="w3_close()" class="w3-bar-item w3-hover-white">View Reviews</a>
	</div>
    </nav>

    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
	<span>Rate This Property!</span>
    </header>

    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main page content -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px" id="home">
	    <h1 class="w3-jumbo"><b>Rate This Property!</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	</div>

	<div class="w3-container" id="description">
	    <h1 class="w3-xxlarge"><b>Description</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	    <p>
	    This website is designed to allow anyone to rate the condotion of a property - no matter if you're a tenant, neighbour or just passing by.<br>
	    As a tenant you can review the condition of the property you're renting, or even your tenants.<br>
	    Neighbours can review the property also, along with anyone passing by - it doesn't have to be all negative!
	    </p>
	</div>

	<div class="w3-container" style="margin-top:80px" id="factors">
	    <h1 class="w3-xxlarge"><b>Factors</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	    <p>
	        Here are some factors to consider when creating a review - some factors can also be positive!
	    </p>
	</div>
	<!-- Adding flip on images  - Grid 1-->
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/houseParty.jpg" style="width:100%"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Parties & Large Gatherings</h2>
			<p>Parties and gatherings causing a disturbance.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/swearing.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Rudness</h2>
			<p>Rudeness or harrasment from people within the property.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/fighting.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Fighting</h2>
			<p>Fighting or aggressive behaviour.</p>
		    </div>
		</div>
	    </div>
	</div>

	<br/>

	<!-- Grid 2 -->
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/arguing.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Domestic Disturbances</h2>
			<p>Neighbours arguing or being disruptive.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/rubbish_house.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Dirty / Unkempt</h2>
			<p>Piles of rubbish & litter left laying around the property.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/drug_misuse.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Drug Misuse</h2>
			<p>Drugs are used in or around the property.</p>
		    </div>
		</div>
	    </div>
	</div>

	<br>
	<!-- Grid 3 -->
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/broken_sofa.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Broken Furniture</h2>
			<p>Furniture broken before or during moving into property.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/mould.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Mould</h2>
			<p>Damp and/or mould within the property.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/broken_appliances.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Broken Appliances</h2>
			<p>Broken appliances within the property making it difficult to live in - broken fridge, boiler, cooker etc</p>
		    </div>
		</div>
	    </div>
	</div>

	<br/>

	<!-- Grid 4 -->
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/infestation.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
		        <h2>Infestation</h2>
			<p>Rats, rodents, bugs and/or bugs cohibiting in the property.</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/messy_roommate.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
			    <h2>Messy Housemates / Flatmates</h2>
			<p>Unkepmt house mates making it difficult to live iwht them..</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-col m4 w3-margin-bottom">
	    <div class="flip-box">
	        <div class="flip-box-inner">
		    <div class="flip-box-front">
	                <img class="blur-pic" src="static/angry-landlord.jpg" style="width:100%; height:200px;"/>
		    </div>
		    <div class="flip-box-back">
			    <h2>Difficult Landlords</h2>
			<p>Landlords being diificult, causing harrasment, increasing rent without formal notice.</p>
		    </div>
		</div>
	    </div>
	</div>

	<br>

	<br>
    </div>
</body>
</html>
