<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rate This Property!</title>
    <meta name="description" content="Web app that enables to rate the condition and attributes of a property.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet
	       " href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body, h1, h2, h3, h4, h5 {font-family: "Poppins", sans-serif}
	body {font-size: 16px}
	.w3-half img {
            margin-bottom: -6px;
	    margin-top: 16px;
	    opacity: 0.8;
	    cursor: pointer;
	}
    </style>
</head>
<body>
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick"w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
	<div class="w3-container">
	    <h3 class="w3-padding-64"><b>Rate My<br></b>Property!</h3>
	</div>
	<div class="w3-bar-block">
	    <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
	    <a href="#description" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Description</a>
	    <a href="#factors" onclick="w3_close()" class="w3-bar-item w3-hover-white">Services</a>
	    <a href="#instructions" onclick="w3_close()" class="w3-bar-item w3-hover-white">Designers</a>
	    <a href="#writeReview" onclick="w3_close()" class="w3-bar-item w3-hover-white">Packages</a>
	    <a href="#viewReviews" onclick="w3_close()" class="w3-bar-item w3-hover-white">Contact</a>
	</div>
    </nav>

    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
	<span>Rate This Property!</span>
    </header>

    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main page content -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px" id="home">
	    <h1 class="w3-jumbo"><b>Rate This Property!</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	</div>

	<div class="w3-container" id="description">
	    <h1 class="w3-xxlarge"><b>Description</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	    <p>
	    This website is designed to allow anyone to rate the condotion of a property - no matter if you're a tenant, neighbour or just passing by.<br>
	    As a tenant you can review the condition of the property you're renting, or even your tenants.<br>
	    Neighbours can review the property also, along with anyone passing by - it doesn't have to be all negative!
	    </p>
	</div>

	<div class="w3-container" style="margin-top:80px" id="factors">
	    <h1 class="w3-xxlarge"><b>Factors</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round"/>
	</div>
    </div>
</body>
</html>
