<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask CRUD app</title>
    <meta name="description" content="Basic CRUD app using Python, Flask & SQLAlchemy">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <form method="POST" action="/">
        <input type="text" name="title"/>
	<input type="submit" value="Add"/>
    </form>

    <h1>Books</h1>
    {% for book in books %}
        <p>{{ book.title }}</p>
	<form method="POST" action="./update">
	    <input type="hidden" value="{{ book.title }}" name="oldtitle"/>
	    <input type="text" value="{{ book.title }}" name="newtitle"/>
	    <input type="submit" value="Update"/>
	</form>
    {% endfor %}
</body>
</html>
